<!DOCTYPE html>
<html lang="en" ng-app='angularGrafico'>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">
    <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="stylesheets/addstyle.css" rel="stylesheet">
    <link href="bootstrap/css/dashboard.css" rel="stylesheet">

    <link href="angularjs-datepicker/src/css/angular-datepicker.css" rel="stylesheet" type="text/css" />

    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <script src="angular.min.js"></script>
    <script src="graficar.js"></script>

    <script type="text/javascript" src="javascripts/angular-fusioncharts.min.js"></script>
    <script type="text/javascript" src="fusioncharts-suite-xt/js/fusioncharts.js"></script>
    <script type="text/javascript" src="fusioncharts-suite-xt/js/themes/fusioncharts.theme.fint.js"></script>
    <script src="angularjs-datepicker/src/js/angular-datepicker.js"></script>
    <script src="node_modules/angular-route/angular-route.js"></script>
    <title>Registro de eventos</title>
  </head>
<!-- INICIO -->
  <body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Bitacora de eventos Sala Control Master Canal 13</a>
        </div>
      </div>
    </nav>
<!-- fin barra superior -->
    <div class="col-sm-3 col-md-2 sidebar">
      <ul class="nav nav-sidebar">
        <li><a href="index.html">Registrar</a></li>
        <li class="active"><a href="#">Informes<span class="sr-only">(current)</span></a></li>
      </ul>
    </div>
    <!-- MAIN -->
    <article class="page-article">
    <div class="col-sm-7 col-md-7 col-md-offset-2 main">
    <div class="container-fluid" style="border: 1px solid #c0c0c0; background-color: #fff; height: 100%; width: 100%" ng-controller='Controlador1 as graficos'>
      <!-- <h3><label for="frm1" class="col-sm-3 control-label">Definir parámetros</label></h3> -->
      <form name="frm1" class="contact-form col-sm-9 col-md-9" role="form" style="float: left; height: 100%; width: 100%">

        <div class="form-group row">
          <label for="parametroUnoInput" class="col-sm-3 control-label">Parametro a evaluar: </label>
          <div class="col-sm-12">
            <input type="text" name="parametroUnoInput" id="parametroUnoInput" ng-model="graficos.parametroUnoInput" placeholder="{{graficos.placeParametroUno}}" class="form-control" readonly ng-cloak>
              <select id="parametroUnoId" name="parametroUnoSelect" class="form-control" ng-model="graficos.parametroUnoSelect" ng-change="graficos.selectParametroUno()" ng-cloak>
                <!-- <option value="" default selected="selected">Seleccione un responsable</option> -->
                <option value="" selected disabled hidden>Seleccione parametro</option>
                <!-- <option value="">{{textResponsable}}</option> -->
                <option ng-repeat="parametro in graficos.parametros" value="{{parametro}}" >{{parametro}}</option>
              </select><br>
          </div>
        </div>

        <div class="form-group row">
          <label for="parametroDosInput" class="col-sm-3 control-label">Tipo de grafico: </label>
          <div class="col-sm-12">
            <input type="text" name="parametroDosInput" id="parametroDosInput" ng-model="graficos.parametroDosInput" placeholder="{{graficos.placeParametroDos}}" class="form-control" readonly ng-cloak>
              <select id="parametroDosId" name="parametroDosSelect" class="form-control" ng-model="graficos.parametroDosSelect" ng-change="graficos.selectParametroDos()" ng-cloak>
                <!-- <option value="" default selected="selected">Seleccione un responsable</option> -->
                <option value="" selected disabled hidden>Seleccione tipo de grafico</option>
                <!-- <option value="">{{textResponsable}}</option> -->
                <option ng-repeat="tipoGrafico in graficos.tipoGraficos" value="{{tipoGrafico}}" >{{tipoGrafico}}</option>
              </select><br>
          </div>
        </div>

        <div class="form-group row">
          <label for="titulo" class="col-sm-12 control-label">Fecha Inicial: </label>
          <datepicker date-format="MMMM d, y" class="form-control">
            <input ng-model="graficos.fechaInicial" type="text" placeholder="Seleccionar fecha" class="form-control">
          </datepicker>
        </div><br>

        <div class="form-group row">
          <label for="titulo" class="col-sm-12 control-label">Fecha Final: </label>
          <datepicker date-format="MMMM d, y" class="form-control">
            <input ng-model="graficos.fechaFinal" type="text"  placeholder="Seleccionar fecha" class="form-control" readonly>
          </datepicker>
        </div><br><br>

        <div class="form-group row" style="position:relative; width:100%">
          <div class="col-sm-12">
            <button type="submit" ng-click="graficos.crearGrafico(graficos.parametroUnoSelect, graficos.parametroDosSelect, graficos.fechaInicial, graficos.fechaFinal)">Generar</button>
          </div>
        </div>

      </form>

<!-- GRAFICO -->
      <!-- <div fusioncharts width="600" height="400" type="column2d" dataSource="{{graficos.myDataSource}}">grafico</div> -->
      <hr>
      <article class="page-article">
        <form name="frm1" class="contact-form col-sm-9 col-md-9" role="form" style="float: left; height: 100%; width: 100%">

      <div class="container-fluid">

        <div id="chart-container1" align="left"></div><br><br><br>
      <!-- <div id="chart-container2">FusionCharts will render here</div> -->
      </div>
    </form>
  </article>
    <!-- fin DIV CONTROLLER -->
    </div>
  </article>

    </div>
    <!-- FIN DIV MAIN -->
  </body>
</html>
