<div class="container-fluid row" style="border: 1px solid #c0c0c0; background-color: #fff; height: 30em; width: 80%; float:center">

  <!-- <div class="col-md-6 col-md-offset-3"> -->
    <div>
      <h3>Bienvenido {{vm.user.firstName}} al sistema de registro de eventos SCM Canal13</h3>
  </div>

</div><!-- fin DIV CONTROLLER -->

<!-- <h1>Hi {{vm.user.firstName}}!</h1>
<p>You're logged in!!</p>
<h3>All registered users:</h3>
<ul>
    <li ng-repeat="user in vm.allUsers">
        {{user.username}} ({{user.firstName}} {{user.lastName}})
        - <a ng-click="vm.deleteUser(user.id)">Delete</a>
    </li>
</ul>
<p>&nbsp;</p>
<p><a href="#!/login" class="btn btn-primary">Logout</a></p> -->
