<!DOCTYPE html>
<html lang="en" ng-app='angularGrafico'>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">
    <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="stylesheets/addstyle.css" rel="stylesheet">
    <link href="bootstrap/css/dashboard.css" rel="stylesheet">

    <link href="angularjs-datepicker/src/css/angular-datepicker.css" rel="stylesheet" type="text/css" />

    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <script src="angular.min.js"></script>
    <script src="graficar.js"></script>

    <script type="text/javascript" src="javascripts/angular-fusioncharts.min.js"></script>
    <script type="text/javascript" src="fusioncharts-suite-xt/js/fusioncharts.js"></script>
    <script type="text/javascript" src="fusioncharts-suite-xt/js/themes/fusioncharts.theme.fint.js"></script>
    <script src="angularjs-datepicker/src/js/angular-datepicker.js"></script>
    <script src="node_modules/angular-route/angular-route.js"></script>

    <!-- barra lateral izq -->
    <link rel="stylesheet" href="stylesheets/demo.css">
    <link rel="stylesheet" href="stylesheets/sidebar-collapse.css">

    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">

    <title>Registro de eventos</title>
  </head>
<!-- INICIO -->
  <body>
    <aside class="sidebar-left-collapse" style="width:20em; margin:1.5em 0px 0px 0px">

  		<div class="sidebar-links">
  			<div class="link-blue">
  				<a href="#">
  					<i class="fa fa-pencil fa-fw"></i>Eventos
  				</a>
  				<ul class="sub-links">
  					<li><a href="index.html">Ingresar registro</a></li>
            <li><a href="#">Notificar registros</a></li>

  				</ul>
  			</div>
  			<div class="link-blue">
  				<a href="#">
  					<i class="fa fa-bar-chart"></i>Informes
  				</a>
  				<ul class="sub-links">
  					<li><a href="grafico.html">Generar graficos</a></li>
            <li><a href="#">Generar planillas</a></li>
          </ul>
  			</div>
        <div class="link-blue">
          <a href="#">
            <i class="fa fa-cogs"></i>Configuraciones
          </a>
          <ul class="sub-links">
            <li><a href="#">Crear usuarios</a></li>
            <li><a href="#">Modificar campos</a></li>
          </ul>
        </div>
  		</div>
  	</aside>

    <nav class="navbar-inverse navbar-fixed-top" style="width:100%; float:center">
      <div class="container-fluid">
        <div class="navbar-header" style="width:100%">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#" style="margin:0px 0px 0px 320px">Bitacora de eventos Sala Control Master Canal 13</a>
          <img src="images/c13.png" alt="" style="width:5%;heght:5%;float:right"/>
        </div>
      </div>
    </nav>
    <!-- fin barra superior -->
    <!-- MAIN -->
    <!-- <article class="page-article"> -->
    <!-- <div class="col-sm-7 col-md-7 col-md-offset-2 main"> -->
    <div class="col-sm-10  col-md-10 col-md-offset-2 main">

        <div class="container-fluid row" style="border: 1px solid #c0c0c0; background-color: #fff; height: 100%; width: 100%" ng-controller='Controlador1 as graficos'>
          <div class=contact-form style="margin:50px 0px 30px 10px">
            <h1>Generador de graficos</h1>
            <time id="fechaevento"></time>
          </div>
          <div class="contact-form">
             <!-- Form -->
             <div class="col-xs-4 wow animated slideInLeft" data-wow-delay=".5s">

               <form id="contact-us">
                 <!-- Left Inputs -->

                     <div class="form-group" style="height:9em">
                      <label for="parametroUnoInput" class="control-label">Parametro a evaluar: </label>
                      <div>
                        <input type="text" name="parametroUnoInput" id="parametroUnoInput" ng-model="graficos.parametroUnoInput" placeholder="{{graficos.placeParametroUno}}" class="form-control" readonly ng-cloak>
                          <select id="parametroUnoId" name="parametroUnoSelect" class="form-control" ng-model="graficos.parametroUnoSelect" ng-change="graficos.selectParametroUno()" ng-cloak>
                            <option value="" selected disabled hidden>Seleccione parametro</option>
                            <option ng-repeat="parametro in graficos.parametros" value="{{parametro}}" >{{parametro}}</option>
                          </select><br>
                      </div>
                    </div>

                    <div class="form-group" style="height:9em">
                      <label for="parametroDosInput" class="control-label">Tipo de grafico: </label>
                      <div>
                        <input type="text" name="parametroDosInput" id="parametroDosInput" ng-model="graficos.parametroDosInput" placeholder="{{graficos.placeParametroDos}}" class="form-control" readonly ng-cloak>
                          <select id="parametroDosId" name="parametroDosSelect" class="form-control" ng-model="graficos.parametroDosSelect" ng-change="graficos.selectParametroDos()" ng-cloak>
                            <option value="" selected disabled hidden>Seleccione tipo de grafico</option>
                            <option ng-repeat="tipoGrafico in graficos.tipoGraficos" value="{{tipoGrafico}}" >{{tipoGrafico}}</option>
                          </select><br>
                      </div>
                    </div>

                    <div class="form-group" style="height:4em">
                      <label for="fechaInicial" class="control-label">Fecha Inicial: </label>
                      <datepicker date-format=" d MMMM y / HH:mm:ss">
                        <input ng-model="graficos.fechaInicial" type="text" placeholder="Seleccionar fecha" class="form-control">
                      </datepicker>
                    </div><br>

                    <div class="form-group" style="height:4em">
                      <label for="fechaFinal" class="control-label">Fecha Final: </label>
                        <datepicker date-format=" d MMMM y / HH:mm:ss">
                        <input ng-model="graficos.fechaFinal" type="text"  placeholder="Seleccionar fecha" class="form-control">
                      </datepicker>
                    </div><br><br>

                    <div class="form-group" style="margin: 5em 2em 2em 0em">
                        <button type="submit" ng-click="graficos.crearGrafico(graficos.parametroUnoSelect, graficos.parametroDosSelect, graficos.fechaInicial, graficos.fechaFinal)">Generar</button>
                    </div>
              </form>

            </div><!--slideINleft-->
            <div class="col-xs-8 wow animated slideInRight" data-wow-delay=".5s">
              <div class="form-group">

    <!-- GRAFICO -->
          <!-- <div fusioncharts width="600" height="400" type="column2d" dataSource="{{graficos.myDataSource}}">grafico</div> -->

                <!-- <article class="page-article"> -->
                  <!-- <form name="frm1" class="contact-form" role="form" style="float: left; height: 100%; width: 100%"> -->
                    <!-- <div class="container-fluid"> -->
                      <div id="chart-container1" align="center"></div>
                      <!-- <div id="chart-container2">FusionCharts will render here</div> -->
                    <!-- </div> -->
                  <!-- </form> -->
                <!-- </article> -->
              </div><!--DIV form-group-->
            </div><!--slideINright-->

        </div><!--DIV ccontact-form-->
      </div><!-- fin DIV CONTROLLER -->
    </div>  <!-- FIN DIV MAIN -->
    <script src="javascripts/lahora.js"></script>
    <script>

      $(function () {

        var links = $('.sidebar-links > div');

        links.on('click', function () {

          links.removeClass('selected');
          $(this).addClass('selected');

        });
      });

    </script>
  </body>
</html>
