body {
    background-color: #eee;
}

*[role="form"] {
    max-width: 530px;
    max-height: 530px;
    padding: 15px;
    margin: 0 auto;
    /*float: left;*/
    /*background-color: #fff;*/
    border-radius: 0.3em;
}

*[role="form"] h2 {
    margin-left: 5em;
    margin-bottom: 1em;
}

/*h1 {
  text-align:left;
  color: #665;
  text-shadow: 1px 1px 0px #FFF;
  margin:50px 0px 20px 10px
}*/

.divLast
{
   top: 0px;
   margin:0px;
   padding: 0px 2px 2px 3px;
   border-width: 2px;
   border-bottom: 2px white solid;
   width: 100%;
}
